body {
    font-family: monospace;
}
.chord {
    font-weight: bold;
}
.chord-delimiter {
    padding: 3px;
}

#viewer {
    font-size: 18px;
    overflow-y: scroll; 
    height: 1000px;
    margin-top: 10px;
}
.editor-textarea {
    display: block;
}
.editor-input {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.editor-label {
    margin-bottom: 10px;
}

button {
    display: inline-block;
}