{% extends "base.html" %}
{% block title %}guitarlette{% endblock title %}
{% block extra_css %}
<style type="text/css">
  #controls {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    z-index: 5;
    margin: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 0 30px 1px #d8d8d8;
    -webkit-box-shadow: 0 0 30px 1px #d8d8d8;
    -moz-box-shadow: 0 0 30px 1px #d8d8d8;
    font-size:0.9em;
  }

  #controls div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #controls div::-moz-selection {
    background:transparent;
  }

  #controls div::selection {
    background:transparent;
  }

  .control-item {
    font-size:15px;
  }

  .control-item ion-icon:hover {
    color: #484848;
  }

  .control-item ion-icon {
    font-size: 28px;
    padding: 3px 0px 0px 0px;
  }

  .control-item span {
    display: inline-block;
    margin-bottom: 10px;
  }

  .control-item-label {
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
  }

  #song {
    padding-left: 5px;
    padding-right: 5px;
    background: #ffffff;
    height: 100%;
    margin: auto 0;
    min-height: 500px;
  }

  #song-html {
    box-shadow: 0 0 30px 1px #d8d8d8;
    -webkit-box-shadow: 0 0 30px 1px #d8d8d8;
    -moz-box-shadow: 0 0 30px 1px #d8d8d8;
    margin-top:60px;
    min-height: 500px;
    padding: 8px;
    font-size:12px;
  }

  #song-txt {
    margin-top: 70px;
  }

  .chord {
    font-weight: bold;
  }

  .delimiter {
    padding: 3px;
  }

/*  .lyric {
    color: red;
  }*/

  #options {
    display: inline-flex;
    float: right;
    width: 25%;
  }

  #options button {
    padding: 2px;
    margin: 2px;
    width: 100%;
    -webkit-appearance: none;
  }

  #options button:focus {
    outline: none;
  }

  #options button:hover {
    color: #484848;
  }

  #options button:active {
    border: none;
  }
  textarea {
    display: block;
  }

</style>
{% endblock extra_css %}

{% macro icon_button(id, name, size="small", onclick=None, hidden=False) -%}
<ion-icon 
    id="{{ id }}"
    name="{{ name }}"
    size="{{ size }}"
    {% if hidden %}style="display:none;"{% endif %}
    {% if onclick %}onclick="{{ onclick }}"{% endif %}></ion-icon>
{%- endmacro %}

{% block body %}
  <div id="controls">
    <div class="control-item">
      <div class="control-item-label">transpose</div>
      {{ icon_button("transpose-decrease-btn", "arrow-down-circle-sharp") }}
      <span id="transpose-index">0</span>
      {{ icon_button("transpose-increase-btn", "arrow-up-circle-sharp") }}
    </div>
    <div class="control-item">
      <div class="control-item-label">scroll</div>
      {{ icon_button("play-btn", "play-circle-sharp") }}
      {{ icon_button("pause-btn", "pause-circle-sharp", hidden=True) }}
      <span id="scroll-speed">0</span>
      {{ icon_button("stop-btn", "stop-circle-sharp") }}
    </div>
    <div class="control-item">
      <div class="control-item-label">font</div>
      {{ icon_button("font-decrease-btn", "remove-circle-sharp") }}
      <span id="font-size-index">0</span>
      {{ icon_button("font-increase-btn", "add-circle-sharp") }}
    </div>
  </div>
  <div id="song-form">
    <form method="POST" action="/download">
      <div id="options">
        <button type="button" id="lock" name="lock">
        {{ icon_button("unlock-btn", "lock-open-sharp") }}
        {{ icon_button("lock-btn", "lock-closed-sharp", hidden=True) }}
        <br><span id="lock-txt">lock</span>
        </button>
        <button type="submit" id="download" name="download">
        {{ icon_button("download-btn", "cloud-download-sharp") }}
        <br>download
        </button>
        <button type="button" id="clear" name="clear">
        {{ icon_button("clear-btn", "trash-sharp") }}
        <br>clear
        </button>
      </div>
      <textarea id="song-txt" name="song_txt" rows="40" cols="108" style="white-space: pre-wrap;">{% include "instructions.txt" %}
        </textarea>
      </form>
  </div>
  <div id="song-display">
    <div id="song-html" style="display: none;"></div>
  </div>
  <script>
    class Scroll {
      constructor() {
        this.is_paused = false
        this.speed = 1
        this.interval = null
        this.play_btn = document.getElementById("play-btn")
        this.pause_btn = document.getElementById("pause-btn")
        this.stop_btn = document.getElementById("stop-btn")
      }

      execute(method) {
        if(composer.is_locked) {
          this[method]();
        }
      }

      toggle() {
        if(this.is_paused || this.interval === null)
          this.execute("play")
        else
          this.execute("pause")
      }

      play() {
        this.is_paused = false
        this.play_btn.style.display = "none"
        this.pause_btn.style.display = ""
        if (this.interval === null) {
          this.speed = 1
          document.getElementById("scroll-speed").innerHTML = 1
          var t = this;
          this.interval = setInterval(function() {
            if (!t.is_paused) {
              window.scrollBy({
                      top: t.speed,
                      left: 0,
                      behavior : "smooth"
                  });
            }
          }, 100)
        }
      }

      pause() {
        this.play_btn.style.display = ""
        this.pause_btn.style.display = "none"
        this.is_paused = true

      }

      stop() {
        clearInterval(this.interval)
        this.speed = 0
        this.is_paused = false
        this.interval = null
        this.play_btn.style.display = ""
        this.pause_btn.style.display = "none"
        document.getElementById("scroll-speed").innerHTML = 0
      }

      increase() {
        if(!(this.speed + 1 > 20))
          this.speed += 1
          document.getElementById("scroll-speed").innerHTML = this.speed
      }

      decrease() {
        if(this.speed - 1 > 0) {
          this.speed -= 1
          document.getElementById("scroll-speed").innerHTML = this.speed
        }
        else {
          this.stop()
        }
      }
    }

    class Font {
      constructor() {
        this.size = 18
        this.index = 0
        this.step = 3
      }

      update_html() {
        document.getElementById("song-html").style.fontSize = this.size.toString() + "px"
        document.getElementById("font-size-index").innerHTML = this.index
      }

      execute(method) {
        if(composer.is_locked) {
          this[method]();
        }
      }

      increase() {
        if(this.size + this.step >= 36) {
          this.size = 18
          this.index = 0
        }
        else {
          this.size += this.step
          this.index += 1
        }
        this.update_html()

      }

      decrease() {
        if(this.size - this.step <= 0) {
          this.size = 18
          this.index = 0
        }
        else {
          this.size -= this.step
          this.index -= 1
        }
        this.update_html()
      }
    }

    class Transpose {
      constructor() {
        this.index = 0
      }

      async update_html() {
        let response = await request("/transpose", {
          "content": document.getElementById("song-txt").value,
          "degree": this.index
        })
        document.getElementById("song-html").innerHTML = response.html_content
        document.getElementById("transpose-index").innerHTML = this.index

      }

      execute(method) {
        if(composer.is_locked) {
          this[method]();
        }
      }

      async increase() {
        if(this.index + 1 === 11) {
          this.index = 0
        }
        else {
          this.index += 1
        }
        await this.update_html()
      }

      async decrease() {
        if(this.index - 1 === -11) {
          this.index = 0
        }
        else {
          this.index -= 1
        }
        await this.update_html()
      }
    }

    class Composer {
      constructor() {
        this.is_locked = false
        this.song_txt = document.getElementById("song-txt")
        this.song_html = document.getElementById("song-html")
        this.lock_btn = document.getElementById("lock-btn")
        this.unlock_btn = document.getElementById("unlock-btn")
        this.lock_txt = document.getElementById("lock-txt")
        this.scroll = new Scroll()
        this.font = new Font()
        this.transpose = new Transpose()
      }

      async toggle() {
        if(this.is_locked) {
          this.unlock()
        } 
        else {
          await this.lock()
        }
      }

      async lock() {
        let response = await request("/parse", {
          "content": this.song_txt.value
        })
        this.is_locked = true
        this.song_txt.style.display = "none"
        this.song_html.style.display = ""
        this.song_html.innerHTML = response.html_content
        this.unlock_btn.style.display = "none"
        this.lock_btn.style.display = ""
        this.lock_txt.innerHTML = "unlock"
      }

      unlock() {
        this.is_locked = false
        this.song_txt.style.display = ""
        this.song_html.style.display = "none"
        this.unlock_btn.style.display = ""
        this.lock_btn.style.display = "none"
        this.lock_txt.innerHTML = "lock"

        this.scroll.stop()
        this.transpose.index = 0
        document.getElementById("transpose-index").innerHTML = this.transpose.index
      }

      clear() {
        this.song_txt.value = ""
        this.song_html.innerHTML = ""
      }
    }

    async function request(endpoint, json_body) {
      const response = await fetch(endpoint, {
        method: "POST",
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(json_body)
      })
      const json = await response.json();

      return json
    }


    const composer = new Composer()
    const play_btn = document.getElementById("play-btn")
    const pause_btn = document.getElementById("pause-btn")
    const stop_btn = document.getElementById("stop-btn")
    const font_increase_btn = document.getElementById("font-increase-btn")
    const font_decrease_btn = document.getElementById("font-decrease-btn")
    const transpose_increase_btn = document.getElementById("transpose-increase-btn")
    const transpose_decrease_btn = document.getElementById("transpose-decrease-btn")
    const clear = document.getElementById("clear")
    const lock = document.getElementById("lock")

    play_btn.addEventListener("click", function(event) {
      composer.scroll.execute("play")
    }, false)

    pause_btn.addEventListener("click", function(event) {
      composer.scroll.execute("pause")
    }, false)

    stop_btn.addEventListener("click", function(event) {
      composer.scroll.execute("stop")
    }, false)

    font_increase_btn.addEventListener("click", function(event) {
      composer.font.execute("increase")
    }, false)

    font_decrease_btn.addEventListener("click", function(event) {
      composer.font.execute("decrease")
    }, false)

    transpose_increase_btn.addEventListener("click", async function(event) {
      composer.transpose.execute("increase")
    }, false)

    transpose_decrease_btn.addEventListener("click", async function(event) {
      composer.transpose.execute("decrease")
    }, false)

    clear.addEventListener("click", function(event) {
      composer.clear()
    }, false)

    lock.addEventListener("click", async function(event) {
      composer.toggle()
    }, false)

    document.addEventListener("keydown", async (event) => {
      if (event.code === "Space" && event.target !== composer.song_txt)
        event.preventDefault()
      if(event.code == "Space")
        composer.scroll.toggle()
      if(event.code == "Escape")
        composer.scroll.stop()
      if(event.code === "Equal")
        composer.scroll.increase()
      if(event.code == "Minus")
        composer.scroll.decrease()
      })
  </script>
{% endblock body %}