{% extends "base.html" %}
{% block title %}guitarlette{% endblock title %}
{% block extra_css %}
<style type="text/css">
  #controls {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    z-index: 5;
    margin: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 0 30px 1px #d8d8d8;
    -webkit-box-shadow: 0 0 30px 1px #d8d8d8;
    -moz-box-shadow: 0 0 30px 1px #d8d8d8;
    font-size:0.9em;
  }

  #controls div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #controls div::-moz-selection {
    background:transparent;
  }

  #controls div::selection {
    background:transparent;
  }

  .control-item {
    font-size:15px;
  }

  .control-item ion-icon:hover {
    color: #484848;
  }

  .control-item ion-icon {
    font-size: 28px;
    padding: 3px 0px 0px 0px;
  }

  .control-item span {
    display: inline-block;
    margin-bottom: 10px;
  }

  .control-item-label {
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
  }

  #song {
    padding-left: 5px;
    padding-right: 5px;
    background: #ffffff;
    height: 100%;
    margin: auto 0;
    min-height: 500px;
  }

  #song-html {
    box-shadow: 0 0 30px 1px #d8d8d8;
    -webkit-box-shadow: 0 0 30px 1px #d8d8d8;
    -moz-box-shadow: 0 0 30px 1px #d8d8d8;
    margin-top:60px;
    min-height: 500px;
    padding: 8px;
    font-size:12px;
  }

  #song-txt {
    margin-top: 70px;
  }

  .chord {
    font-weight: bold;
  }

  .delimiter {
    padding: 3px;
  }

/*  .lyric {
    color: red;
  }*/

  #options {
    display: inline-flex;
    float: right;
    width: 25%;
  }

  #options button {
    padding: 2px;
    margin: 2px;
    width: 100%;
    -webkit-appearance: none;
  }

  #options button:focus {
    outline: none;
  }

  #options button:hover {
    color: #484848;
  }

  #options button:active {
    border: none;
  }
  textarea {
    display: block;
  }

</style>
{% endblock extra_css %}

{% macro icon_button(id, name, size="small", onclick=None, hidden=False) -%}
<ion-icon 
    id="{{ id }}"
    name="{{ name }}"
    size="{{ size }}"
    {% if hidden %}style="display:none;"{% endif %}
    {% if onclick %}onclick="{{ onclick }}"{% endif %}></ion-icon>
{%- endmacro %}

{% block body %}
  <div id="controls">
    <div class="control-item">
      <div class="control-item-label">transpose</div>
      {{ icon_button("transpose-up-btn", "arrow-up-circle-sharp", onclick="transpose('+')") }}
      <span id="transpose-index">0</span>
      {{ icon_button("tranpose-down-btn", "arrow-down-circle-sharp", onclick="transpose('-')") }}
    </div>
    <div class="control-item">
      <div class="control-item-label">scroll</div>
      {{ icon_button("scroll-start-btn", "play-circle-sharp", onclick="toggle_scroll()") }}
      {{ icon_button("scroll-pause-btn", "pause-circle-sharp", onclick="toggle_scroll()", hidden=True) }}
      <span id="scroll-speed">0</span>
      {{ icon_button("scroll-stop-btn", "stop-circle-sharp", onclick="stop_scroll()") }}
    </div>
    <div class="control-item">
      <div class="control-item-label">font</div>
      {{ icon_button("font-add-btn", "add-circle-sharp", onclick="adjust_font_size('+')") }}
      <span id="font-size-index">0</span>
      {{ icon_button("font-down-btn", "remove-circle-sharp", onclick="adjust_font_size('-')") }}
    </div>
  </div>
  <div id="song-form">
    <form method="POST" action="/download">
      <div id="options">
        <button type="button" id="lock" name="lock" onclick="toggle_form()">
        {{ icon_button("unlock-btn", "lock-open-sharp") }}
        {{ icon_button("lock-btn", "lock-closed-sharp", hidden=True) }}
        <br><span id="lock-txt">lock</span>
        </button>
        <button type="submit" id="download" name="download">
        {{ icon_button("download-btn", "cloud-download-sharp") }}
        <br>download
        </button>
        <button type="button" id="clear" name="clear" onclick="clear_form()">
        {{ icon_button("clear-btn", "trash-sharp") }}
        <br>clear
        </button>
      </div>
      <textarea id="song-txt" name="song_txt" rows="40" cols="108" style="white-space: pre-wrap;">{% include "instructions.txt" %}
        </textarea>
      </form>
  </div>
  <div id="song-display">
    <div id="song-html" style="display: none;"></div>
  </div>
  <script>
    const SONG_DISPLAY = document.getElementById("song-display")
    const SONG_HTML = document.getElementById("song-html")
    const SONG_TXT = document.getElementById("song-txt")

    const FONT_SIZE_MAX = 36
    const FONT_SIZE_MIN = 6
    const FONT_SIZE_DEFAULT = 12
    const FONT_SIZE_STEP = 6

    const TRANSPOSE_LIMIT = 11
    const TRANSPOSE_STEP = 1

    const SCROLL_TOP_POS = SONG_DISPLAY.offsetTop
    const SCROLL_SPEED_MAX = 20
    const SCROLL_SPEED_INTERVAL = 100
    const SCROLL_START_BTN = document.getElementById("scroll-start-btn")
    const SCROLL_PAUSE_BTN = document.getElementById("scroll-pause-btn")
    
    const FORM_LOCK_BTN = document.getElementById("lock-btn")
    const FORM_UNLOCK_BTN = document.getElementById("unlock-btn")
    const FORM_LOCK_TXT = document.getElementById("lock-txt")

    var font_size_index = 0
    var transpose_index = 0
    var scroll_speed = 1
    var scroll_interval = null
    var scroll_paused = false
    var form_locked = false

    function toggle_scroll() {
      if(form_locked) {
        if (scroll_interval !== null) {
          if (scroll_paused) {
            SCROLL_START_BTN.style.display = "none"
            SCROLL_PAUSE_BTN.style.display = ""
            scroll_paused = false
          }
          else {
            SCROLL_START_BTN.style.display = ""
            SCROLL_PAUSE_BTN.style.display = "none"
            scroll_paused = true
          }
        }
        else {
          document.getElementById("scroll-speed").innerHTML = 1
          SONG_DISPLAY.scrollTop = SCROLL_TOP_POS - SONG_HTML.offsetTop
          var limit = SONG_HTML.getBoundingClientRect().height
          scroll_interval = setInterval(function() {
            if (!scroll_paused) {
              console.log(scroll_speed)
              window.scrollBy({
                      top: scroll_speed,
                      left: 0,
                      behavior : "smooth"
                  });
            }
          }, SCROLL_SPEED_INTERVAL)
          scroll_paused = false
          SCROLL_START_BTN.style.display = "none"
          SCROLL_PAUSE_BTN.style.display = ""

        }
      }
    }

    function clear_form() {
      SONG_TXT.value = ""
      SONG_HTML.innerHTML = ""
    }

    async function toggle_form() {
      if(form_locked) {
        form_locked = false
        SONG_TXT.style.display = ""
        SONG_HTML.style.display = "none"
        FORM_UNLOCK_BTN.style.display = ""
        FORM_LOCK_BTN.style.display = "none"
        FORM_LOCK_TXT.innerHTML = "lock"

        stop_scroll()
        transpose_index = 0
        document.getElementById("transpose-index").innerHTML = transpose_index
      } 
      else {
        response = await request("/parse", {
          "content": SONG_TXT.value
        })
        form_locked = true
        SONG_TXT.style.display = "none"
        SONG_HTML.style.display = ""
        FORM_UNLOCK_BTN.style.display = "none"
        FORM_LOCK_BTN.style.display = ""
        FORM_LOCK_TXT.innerHTML = "unlock"
        SONG_HTML.innerHTML = response.html_content
      }
    }

    function stop_scroll() {
      clearInterval(scroll_interval)
      scroll_paused = false
      scroll_interval = null
      SONG_DISPLAY.scrollTop = 0
      document.getElementById("scroll-speed").innerHTML = 0
      
    }

    function adjust_scroll_speed(operator) {
      if(form_locked) {
        var step = operator === "-" ? -1 : 1
        var next_scroll_speed = scroll_speed + step
        if (next_scroll_speed > 0 && next_scroll_speed < SCROLL_SPEED_MAX) {
          scroll_speed += step
          document.getElementById("scroll-speed").innerHTML = scroll_speed
        }
      }
    }

    function adjust_font_size(operator) {
      if(form_locked) {
        var step = operator === "-" ? -1 : 1
        var step_px = step * FONT_SIZE_STEP
        var new_font_size = parseInt(window.getComputedStyle(SONG_HTML, null).getPropertyValue("font-size")) + step_px
        if (new_font_size >= FONT_SIZE_MAX || new_font_size <= FONT_SIZE_MIN) {
          new_font_size = FONT_SIZE_DEFAULT
          font_size_index = 0
        } 
        else {
          font_size_index += step
        }
        SONG_HTML.style.fontSize = new_font_size.toString() + "px"
        document.getElementById("font-size-index").innerHTML = font_size_index
      }
    }

    async function transpose(operator) {
      var step = operator === "-" ? -1 : 1
      var limit = (TRANSPOSE_LIMIT + 1) * step
      if (transpose_index + step != (TRANSPOSE_LIMIT + 1) * step) {
        transpose_index += step
      }
      else {
        transpose_index = 0
      }
      response = await request("/transpose", {
        "content": SONG_TXT.value,
        "degree": transpose_index
      })
      SONG_HTML.innerHTML = response.html_content
      document.getElementById("transpose-index").innerHTML = transpose_index
    }

    async function request(endpoint, json_body) {
      const response = await fetch(endpoint, {
        method: "POST",
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(json_body)
      })
      const json = await response.json();

      return json
    }

    document.addEventListener("keydown", async (event) => {
      if(event.target === SONG_TXT) {
        DOWNLOAD_CONTENT.innerHTML = SONG_TXT.innerHTML
      }
      if (event.code === "Space" && event.target !== SONG_TXT) {
        event.preventDefault()
      }
      if(form_locked) {
        if(event.code == "Space") {
            toggle_scroll()
        }
        else if (scroll_interval !== null) {
          if (event.code == "Escape")
            stop_scroll()
          if (event.code === "Equal")
            adjust_scroll_speed("+")
          if (event.code == "Minus")
            adjust_scroll_speed("-")
          }
        }
    })
  </script>
{% endblock body %}