{% macro option_button(id, name, size="small", onclick=None, hidden=False) -%}
<ion-icon 
    class="control-icon"
    id="{{ id }}"
    name="{{ name }}"
    size="{{ size }}"
    {% if hidden %}style="display:none;"{% endif %}
    {% if onclick %}onclick="{{ onclick }}"{% endif %}></ion-icon>
{%- endmacro %}
<form method="POST" action="/download">
  <textarea id="download-content" name="download_content" style="white-space: pre-wrap;display:none;">{% include "snippets/instructions.txt" %}</textarea>

  <div id="options">
    <button type="button" id="lock" name="lock" onclick="toggle_form()">
      {{ option_button("unlock-btn", "lock-open-sharp") }}
      {{ option_button("lock-btn", "lock-closed-sharp", hidden=True) }}
      <br><span id="lock-txt">lock</span>
    </button>
    <button type="submit" id="download" name="download">
      {{ option_button("download-btn", "cloud-download-sharp") }}
      <br>download
    </button>
    <button type="button" id="clear" name="clear" onclick="clear_form()">
      {{ option_button("clear-btn", "trash-sharp") }}
      <br>clear
    </button>
  </div>
</form>