<!DOCTYPE html>
<html>
<head>
    <title>guitarlette</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
<h1>Composer</h1>
    
    <div class="editor-input">
        <label class="editor-label" for="song-name">Name</label>
        <input type="text" id="song-name" {% if song_name %}value="{{ song_name }}" {% endif %}></input>
    </div>

    <div class="editor-input">
        <label class="editor-label" for="song-content">Content</label>
        <textarea id="song-content" rows="20" cols="100">{% if song_content %}{{ song_content }}{% endif %}</textarea>
    </div>

    <input id="transpose-degree" value="1"></input>
    <button onClick="transposeSong()">Transpose</button>
    <button onClick="{% if song_id %}updateSong(){% else %}saveSong(){% endif %}">Save</button>

    <button onClick="scrollViewer()">Scroll</button>

    <div id="viewer">
        <div id="viewer-content">{% if song_id %}{{ song_parser.html|safe }}{% endif %}</div>
    </div>
    

    <script>
    const ws = new WebSocket("{{ WEBSOCKET_URL }}");
    const songId = {% if song_id %}{{ song_id }}{% endif %}


    ws.onmessage = function(msg) {
        data = JSON.parse(msg.data);
        songViewer = document.getElementById("viewer-content")
        songViewer.innerHTML = data.html

        songContent = document.getElementById("song-content")
        songContent.innerHTML = data.content
        console.log(data);
    };

    function scrollViewer() {
        var viewer = document.getElementById("viewer")
        var viewerContent = document.getElementById("viewer-content")
        var topPos = viewer.offsetTop
        viewer.scrollTop = topPos - viewerContent.offsetTop
        setInterval(function() { 
            viewer.scrollTop += 20
        }, 500)
    }

    function transposeSong() {
        content = document.getElementById("song-content").value
        degree = document.getElementById("transpose-degree").value
        ws.send(JSON.stringify({
            "type": "song.transpose",
            "content": content,
            "degree": degree
        }))
    }

    function createSong() {
        name = document.getElementById("song-name").value
        content = document.getElementById("song-content").value
        ws.send(JSON.stringify({
            "type": "song.create",
            "name": name,
            "content": content
        }))
    }

    function updateSong() {
        name = document.getElementById("song-name").value
        content = document.getElementById("song-content").value
        ws.send(JSON.stringify({
            "type": "song.update",
            "id": songId,
            "name": name,
            "content": content
        }))
    }
    </script>
</body>

</html>