<!DOCTYPE html>
<html>

<head>
    <title>guitarlette</title>
    <style>
        .chord {
        font-weight: bold;
    }
    </style>
</head>

<body>
    <h1>Composer</h1>
    <div id="song-viewer">{% if song_id %}{{ song_parser.html|safe }}{% endif %}</div>

    Name: <input type="text" id="song-name" {% if song_name %}value="{{ song_name }}" {% endif %}></input><br>
    Content: <textarea id="song-content" rows="20" cols="100">{% if song_content %}{{ song_content }}{% endif %}</textarea>
    <br>

    <button onClick="{% if song_id %}updateSong(){% else %}saveSong(){% endif %}">Save</button><br>
    <input id="transpose-degree" value="1"></input><button onClick="transposeSong()">Transpose</button>
    <script>
    const ws = new WebSocket("{{ WEBSOCKET_URL }}");
    const songId = {% if song_id %}{{ song_id }}{% endif %}


    ws.onmessage = function(msg) {
        data = JSON.parse(msg.data);
        songViewer = document.getElementById("song-viewer")
        songViewer.innerHTML = data.content

        songContent = document.getElementById("song-content")
        songContent.innerHTML = data.raw_data
        console.log(data);
    };

    function transposeSong() {
        content = document.getElementById("song-content").value
        degree = document.getElementById("transpose-degree").value
        ws.send(JSON.stringify({
            "type": "song.transpose",
            "content": content,
            "degree": degree
        }))
    }

    function createSong() {
        name = document.getElementById("song-name").value
        content = document.getElementById("song-content").value
        ws.send(JSON.stringify({
            "type": "song.create",
            "name": name,
            "content": content
        }))
    }

    function updateSong() {
        name = document.getElementById("song-name").value
        content = document.getElementById("song-content").value
        ws.send(JSON.stringify({
            "type": "song.update",
            "id": songId,
            "name": name,
            "content": content
        }))
    }
    </script>
</body>

</html>