<!DOCTYPE html>
<html>
<head>
    <title>guitarlette</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}">
    <script src="{{ url_for('static', path='components.js') }}"></script>
    
</head>
<body>
<h1>Composer</h1>
    
    <div class="editor-input">
        <label class="editor-label" for="song-name">Name</label>
        <input type="text" id="editor-name" {% if song_name %}value="{{ song_name }}" {% endif %}></input>
    </div>

    <div class="editor-input">
        <label class="editor-label" for="song-content">Content</label>
        <textarea id="editor-content" rows="20" cols="100">{% if song_content %}{{ song_content }}{% endif %}</textarea>
    </div>

    <button onClick="{% if song_id %}updateSong(){% else %}createSong(){% endif %}">Save</button>

    <input id="transpose-degree" value="1"></input>
    <button onClick="transposeSong()">Transpose</button>
    <button onClick="startScrolling()">Start</button>
    <button onClick="toggleScrolling()">Pause / Unpause</button>
    <button onClick="stopScrolling()">Stop</button>

    Font Size:
    <button onClick="increaseFontSize()">+</button>
    <button onClick="decreaseFontSize()">-</button>

    <div id="viewer">
        <div id="viewer-content">{% if song_id %}{{ song_parser.html|safe }}{% endif %}</div>
    </div>
    

    <script>
    const ws = new WebSocket("{{ WEBSOCKET_URL }}")
    const songId = {% if song_id %}{{ song_id }}{% else %}null{% endif %}
    const viewer = document.getElementById("viewer")
    const viewerContent = document.getElementById("viewer-content")
    const editorContent = document.getElementById("editor-content")
    const editorName = document.getElementById("editor-name")

    var scroller = null
    var scrollPaused = false

    ws.onmessage = function(msg) {
        data = JSON.parse(msg.data)
        viewerContent.innerHTML = data.html
        editorContent.innerHTML = data.content
    };

    function startScrolling() {
        var topPos = viewer.offsetTop
        stopScrolling()
        scroll(topPos)
    }

    function stopScrolling() {
        clearInterval(scroller)
    }

    function toggleScrolling() {
        scrollPaused = scrollPaused ? false : true
    }

    function scroll(topPos) {
        viewer.scrollTop = topPos - viewerContent.offsetTop
        scroller = setInterval(function() { 
            if(!scrollPaused) {
                viewer.scrollTop += 20
            }
        }, 500)
    }

    function getCurrentFontSize() {
        return parseInt(window.getComputedStyle(viewerContent, null).getPropertyValue('font-size'))
    }

    function increaseFontSize() {
        var fontSize = getCurrentFontSize()
        fontSize++
        viewerContent.style.fontSize = fontSize.toString()+"px";
    }

    function decreaseFontSize() {
        var fontSize = getCurrentFontSize()
        fontSize--
        viewerContent.style.fontSize = fontSize.toString()+"px"
    }

    function transposeSong() {
        degree = document.getElementById("transpose-degree").value
        ws.send(JSON.stringify({
            "type": "song.transpose",
            "content": editorContent.value,
            "degree": degree
        }))
    }

    function createSong() {
        ws.send(JSON.stringify({
            "type": "song.create",
            "name": editorName.value,
            "content": editorContent.value
        }))
    }

    function updateSong() {
        ws.send(JSON.stringify({
            "type": "song.update",
            "id": songId,
            "name": editorName.value,
            "content": editorContent.value
        }))
    }

    function initEventListeners() {
        var chordSpans = document.getElementsByClassName("chord")
        for (var i = 0; i < chordSpans.length; i++) {
            var chord = chordSpans[i]
            chord.addEventListener('mouseover', function(e) {

            console.log(e);
            console.log("on");
            })

            chord.addEventListener('mouseout', function(e) {

            console.log(e);
            console.log("off");
            })
        }
    }

    initEventListeners()


    </script>
</body>

</html>