<!DOCTYPE html>
<html>
<head>
	<title>{% block page_title %}guitarlette{% endblock page_title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}">
	<link rel="icon" type="image/png" href="{{ url_for('static', path='images/favicon.png') }}">
	{% block extra_head %}
	{% endblock extra_head %}
</head>
<body>
	<a href="{{ url_for('new') }}">new</a>
	<br>
	<a href="{{ url_for('list') }}">your songs</a>
	{% block content %}
	{% endblock content %}
</body>
</html>